<h1>Tiny App</h1>
<p><%=email%></p>

    <% if (!email) { %>

    <form action="/login" method="POST">
        <label for="Sign IN">Login:</label>
        <input name="email">
        <input type="submit" value="sign in">
    </form>
    <a href="/register">To Register</a>
    <% } else { %>

    <form action="/logout" method="POST">
        <input type="submit" value="logout">
    </form>


    <% } %>