<h1>Tiny App</h1>
<p><%=username%></p>

    <% if (!username) { %>

    <form action="/login" method="POST">
        <label for="Sign IN">Login:</label>
        <input name="username">
        <input type="submit" value="sign in">
    </form>

    <% } else { %>

    <form action="/logout" method="POST">
        <input type="submit" value="logout">
    </form>

    <% } %>