<h1>Tiny App</h1>
<p><%=email%></p>

    <% if (!email) { %>

    <a href="/login">To Login</a>

    <a href="/register">To Register</a>
    <% } else { %>

    <form action="/logout" method="POST">
        <input type="submit" value="logout">
    </form>


    <% } %>