<!DOCTYPE html>
<html lang="en">
<head>
    <title>TinyApp</title>
</head>
<body>
    <%include partials/_header%>

    <p>List of URLs</p>

        <ul>
        <% for(url in urls) { %>

            <li>
                <%= url %> : <%= urls[url] %>

                <a href= "/urls/<%= url %>">Edit</a>

                <form style="display:inline;" method="POST" action="/urls/<%= url %>/delete"><button>delete</button></form>
            </li>

        <% } %>
        </ul>

        <a href= "/urls/new">Shorten URL</a >

</body>
</html>


